:root {
    --button: #faa307;
    --yellow: #ffba08 ;
    --dark-blue: #023047;
    --white: #FFF;
    --black: #000;
    --button-hover: #f48c06;
    --menu-color: #a98467;
}

footer {
    background-color: #1B1B1BE5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.footerContainer{
    width: 1340px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center ;
    justify-content: space-between;
}

.footerLogo img {
    width: 241px;
}

.footerNav h3{
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

ul {
    list-style: none;
}

.footerNav .footerMenu li{
    margin-bottom: 10px;
}

.footerNav .footerMenu li:last-child{
    margin-bottom: 0px;
}

.footerNav .navLinks {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.footerNav .navLinks:hover {
    color: var(--yellow);
}

.information .iconList li img {
    margin-right: 40px;
}

.information .iconList li{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

.information .iconList li:last-child{
    margin-bottom: 0px;
}

.information .iconList li {
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

@media (max-width: 850px) {
    .footerContainer {
        grid-template-columns: auto; 
        justify-content: center; 
        text-align: center;
        gap: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footerNav h3{
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
    }

    .information .iconList li {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
    }

    .footerNav .navLinks {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .footerNav h3{
        font-size: 25px;
        font-weight: 700;
        line-height: 42px;
    }

    .information .iconList li {
        font-size: 22px;
        font-weight: 700;
        line-height: 35px;
    }

    .footerNav .navLinks {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
    }
}



